.navbar {
  height: 60px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  /* border-bottom: 1px solid #bdc3c7; */
}

.nav-logo {
  font-weight: bold;
  font-size: 18px;
  color: #2c3e50;
}

.logout-btn {
  background-color: transparent;
  border: 1px solid #e74c3c;
  color: #e74c3c;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #e74c3c;
  color: white;
}