/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    text-align: center;

}
h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 1rem;
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 0.5rem 0 0;
    font-size: 1.2rem;
}

nav {
    background-color: #444;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 1rem 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ddd;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.project {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.project h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.project p {
    margin: 0;
    font-size: 0.9rem;


}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.5rem;
    transition: color 0.3s;
    cursor: pointer;
    display: inline-block;
    text-align: center;

}

a:hover {
    text-decoration: underline;

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
    font-size: 0.8rem;

}